<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calculator tests">
    <test name="All test">
<!--        <packages>-->
<!--            <package name="ru/training/at/hw1"/>-->
<!--        </packages>-->
        <classes>
            <class name="ru.training.at.hw1.TestSum"></class>
            <class name="ru.training.at.hw1.TestSubtract"></class>
            <class name="ru.training.at.hw1.TestDivide"></class>
            <class name="ru.training.at.hw1.TestMultiply"></class>
        </classes>
    </test>
</suite>